body{
    background-color: rgb(21, 45, 118);
    color: aquamarine;
}
ul{
    position: fixed;
}
.Main{
margin: 80px;
}
header{
    position: relative;
}
img{
    height:300px;
    position: absolute;
    right:20px;
    top :-80px;
}

.About{
text-align: center;
margin-left: 80px;
margin-right: 80px;
margin-top: 20px;
}
.mb-3{
    margin: 22%;   
    margin: 10em !important;
}
input{
    margin-bottom: 28px;
}
.Mycolor{
    color: aquamarine !important;
}
